@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pretendard-Regular';
    user-select: none;
    -webkit-user-select: none;
}

body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../artist.jpg');
}

.main {
    background-color: rgba(0, 0, 0, 0.25);
    height: 100vh;
    width: 100vw;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    -moz-backdrop-filter: blur(50px);
    -o-backdrop-filter: blur(50px);
    -ms-backdrop-filter: blur(50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.atrist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.atrist .profile {
    width: 90vw;
    height: 90vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 460px;
    max-height: 460px;

    margin-bottom: 66px;
}

.atrist .profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.atrist .name {
    font-size: 22px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 8px;
}

.atrist .title {
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 40px;
}

.playbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.playbar progress {
    width: 90vw;
    height: 10px;
    position: absolute;
    margin-bottom: 40px;
    appearance: none;
}

.playbar progress::-webkit-progress-bar {
    background: rgba(0, 0, 0, 0.25);
    /* border: 1px solid #eeeeee; */
    overflow: hidden;
    border-radius: 12px;
}

.playbar progress::-webkit-progress-value {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 12px;
    height: 28px;
    width: 48px;
}

.time {
    width: 90vw;

    font-size: 14px;
    /* display 양 끝으로 텍스트 가게 */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.control {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;

    /* width full */
    width: 100vw;
}

.control .back svg,
.control .play svg,
.control .next svg {
    width: 48px;
    height: 48px;
    fill: #fff;
    margin: 0 24px;
    cursor: pointer;
}

/* desktop media */
@media screen and (min-width: 670px) {
    .atrist .profile {
        width: 50vh;
        height: 50vh;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 460px;
        max-height: 460px;

        margin-bottom: 66px;
    }
}

@media screen and (max-height: 500px) {
    .atrist .profile {
        display: none;
    }
}

@media screen and (min-width: 1024px) {
}